<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/GAED">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Testcases.HomepageTest">
                <methods>
                    <include name="Homepage"/>
                </methods>
            </class>
            <class name="Testcases.LoginUserTest">
                <methods>
                    <include name="Login_VerifyEmail"/>
                    <include name="Login_VerifyInvalidEmail"/>
                    <include name="Login_VerifyEmptyEmail"/>
                    <include name="InvalidOTP"/>
                    <include name="VerifyEmptyNotExist"/>
                    <include name="Verify_SignUp_Link_ontheLogin"/>
                    <include name="verifyLoginConsumer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>