<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="GAED Test Cases">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Testcases.HomepageTest">
                <methods>
                    <exclude name="Homepage"/>
                    <exclude name="BuyandSellbuttonVerify"/>
                </methods>
            </class>
            <class name="Testcases.SignUpTest">
                <methods>
                    <exclude name="Signup_page_verify"/>
                    <exclude name="Verify_Empty_signup_fields"/>
                    <include name="Consumer_Sign_up"/>
                </methods>
            </class>
            <class name="Testcases.LoginUserTest">
                <methods>
                    <exclude name="Login_VerifyEmail"/>
                    <exclude name="Login_VerifyInvalidEmail"/>
                    <exclude name="Login_VerifyEmptyEmail"/>
                    <exclude name="Collage_Btn_functionality"/>
                    <exclude name="Collage_Img_functionality"/>
                    <exclude name="Collage_multi_Img_functionality"/>
                    <exclude name="Verify_Collage_Multi_layoutswitch_Image"/>
                </methods>
            </class>
            <class name="Testcases.BuyAndSellTest">
                <methods>
                    <exclude name="Create_Project"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>